**__py_cache/
**__pycache__/

data/*
.DS_Store

*.pyc

*.tsv
*.csv
*.txt

*.vcf
*.vcf.gz
*.vcf.gz.tbi

*.bed
*.bed.gz
*.bed.gz.tbi

*.fa
*.fa.gz
*.fa.gz.tbi

*.fai
*.fai.gz
*.fai.gz.tbi

*.fasta
*.fasta.fai
*.fasta.fai.gz